table{
    border-collapse: collapse;
    border: 1px, solid black;

}

td {
    height: 50px;
    width: 50px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 18px;
}

.pixel-index{
    position: relative;
    color : gray;
    left: 10px;
    top: 1px;
    
}

td.pixel{
    width: 4px;
    height: 4px;
    border: 0;
}